body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.app-frame {
  max-width: 530px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-top: 30px;
  padding: 10px;
}
